.login-page {
    padding: 0 20vw;
    .login-page-body {
      border: 1px solid darken($color: #fff, $amount: 10%);
      background-color: #fff;
      height: 100%;
      overflow-y: auto;
    }
  }
  